body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #1F2937;

}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;

}
a {
    text-decoration: none;
    color: white
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.one {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 25px;
    background-color: #1F2937;


}
.hero-header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.hero-text {
    color: #E5E7EB;
    border: 10px
}
.signup-button {
    font-weight: bold;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    outline: none
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 25px;
}
.pics {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #F9FAF8;
    color: #1F2937
}
.pics-link {
    border: 5px solid #3882F6;
    border-radius: 5px;
}
footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;

}